<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <title><%= title %></title>
      <p><b>Heatmap Generator API</b></p>
  </body>
</html>
